.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsList {
    padding: 5px;
}

.dialogsList a.active {
    color:burlywood;
}

.color{
    color: white;
}

.messages {
    padding: 5px;
    color: white;
}

.message {

}